/* Base styles */

body {
    font-family: "Arial";
    color: #444;
    font-size: 18px;
    line-height: 24px;
}

p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 24px;
    line-height: 24px;
}

li+li {
    margin-top: 0px;
}

.container {
    width: 100%;
    margin: 0px auto;
}

header,
section,
footer {
    margin: 48px 0;
}


/* General */

.icon {
    width: 15px;
}

/* Remove outline for Chrome Browser */
*:focus {
    outline-style: none;
}

.font-red {
    color: red;
}


/* Tool class */

.fill {
    max-height: 100%;
    max-width: 100%;
}

.no-border {
    border: none !important;
}


/* Header */

.menu {
    list-style: none;
    padding: 0 0 0.5em;
}

.menu > li {
    display: inline;
}

@media (max-width: 767px) {
    .menu > li {
        float: left;
        width: 100%;
    }
}

.menu > li:nth-child(1):before {
    display: none;
}

#header-inmedia_1 {
    background-color: white;
    height: 68px;
    margin-bottom: 3px;
}

@media (max-width: 767px) {
    #header-inmedia_1 {
        height: auto;
        padding-bottom: 5px;
    }
}

#logo-tools {
    border-bottom: 3px solid #e6142d;
    margin: 0;
    position: absolute;
    width: 100%;
}

@media (max-width: 767px) {
    #logo-tools {
        position: initial;
    }
}

.logo_scpo {
    padding: 0 15px;
    width: 11%;
}

@media (max-width: 767px) {
    .logo_scpo {
        float: left;
        margin: 6px;
        position: initial;
    }
}

.logo_scpo img {
    height: 29px;
    margin-bottom: 17px;
    margin-left: 18px;
    margin-top: 17px;
}

@media (max-width: 767px) {
    .logo_scpo img {
        margin: 0;
    }
}

ul#menu_appli {
    float: left;
    margin-right: 5px;
    position: relative;
    top: 5px;
    width: 450px;
}

@media (max-width: 767px) {
    ul#menu_appli {
        margin: 0 0 5px 0;
    }
}

ul#menu_appli li a {
    color: #e6142d;
    display: inline;
    padding: 0;
}

ul#menu_appli li a::after {
    color: #343333;
    content: " |";
}

ul#menu_appli li:last-child a::after {
    content: "";
}

@media (max-width: 767px) {
    ul#menu_appli li a::after {
        content: "";
    }
}

.navbar {
    font-size: 0.8em;
    font-family: Roboto Condensed, sans-sefir;
    background-color: transparent;
    left: 67px;
    top: 8px;
}

@media (max-width: 767px) {
    .navbar {
        margin: 0 10px;
        padding: 0;
        position: initial;
    }
}

@media (min-width: 768px) {
    .navbar-nav > li {
        float: none;
    }
}

#cata_ent {
    border-radius: 5px;
    font-size: 14px;
    height: 45px !important;
    padding: 3px;
    position: relative;
    width: 585px;
}

@media (max-width: 767px) {
    #cata_ent {
        height: 165px !important;
        width: 100%;
    }
    #cata_ent > a {
        float: left;
        height: 32px;
        width: 100%;
    }
}

#social {
    float: left;
    position: relative;
    top: 10px;
}

.desc-appli {
    height: 68px;
    position: fixed;
    right: 30px;
    top: -5px;
    width: 250px;
}

@media (max-width: 767px) {
    .desc-appli {
        position: initial;
        text-align: center;
        width: initial;
    }
}

.horaire_bloc {
    background: #f6f4f3 url('http://sciencespo.fr/bibliotheque/sites/sciencespo.fr.bibliotheque/files/icones/schedule.png') no-repeat right top;
    background-size: 25px 25px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    padding: 5px 2px 2px 3px;
    width: 228px;
}

.horaire_bloc h2 {
    left: -100000000000px;
    position: absolute;
}

.horaire_bloc a {
    color: #e6142d;
    font-style: italic;
    font-weight: bold;
}


/* Header */

.header {
    position: relative;
}
.header .title {
    position: absolute;
    top: 0;
}
.header .title > div {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 50%;
}
.header .title > div > h1 {
    color: white;
    text-align: center;
}
.header .title .search-bar .search-icon {
    color: #e6142d;
    top: 5px;
    left: 5px;
}
.header .title .search-bar input {
    border: none;
}
.header .title .search-bar .md-errors-spacer {
    display: none;
}
.header .title .usage-convention {
    color: white;
    font-style: italic;
    font-weight: bold;
    text-align: right;
}


/* Language switcher */

my-language-switcher {
    outline: none;
    position: absolute;
    right: 348px;
    top: 0;
    z-index: 2;
}


/* Welcome Page */

.welcome .page-content {
    padding: 40px 15%;
}

.welcome .highlighted-resources {
    background-color: black;
    color: white;
    margin: 0;
}

.welcome .highlighted-resources a {
    color: white;
    font-size: 16px;
    font-style: italic;
    text-decoration: none;
}


/* Subjects Page */

.subjects .page-content {
    padding: 40px 15%;
}

.subject-name {
    font-weight: bold;
}

.subject-link {
    height: 100%;
    padding: 5px;
}


/* Welcome Page | Tab All */

.letters {
    background-color: lightgrey;
}

.letter {
    border-bottom: 3px solid transparent;
    margin: auto;
}

.letter.selected {
    border-bottom: 3px solid red;
}

.facet {
    padding: 15px 0 10px 0;
}

.facet:first-child {
    padding-top: 0;
}

.facet h3,
.facet ul,
.facet li {
    margin: 0;
    padding: 0;
}

.facet h3 {
    padding-bottom: 15px;
}

.facet li {
    list-style: none;
    padding-bottom: 5px;
}

.facet li label {
    width: 100%;
}

.facet li .count {
    background-color: lightgrey;
    border-radius: 7px;
    float: right;
    padding: 0 15px;
}
.facet li .filter-enable .count {
    background-color: red;
    color: white;
}

.facet .more {
    font-style: italic;
    padding-top: 10px;
    text-align: center;
}

.count-results {
    font-size: 24px;
    font-weight: bold;
    margin: 8px 8px 16px 8px;
}


/* Side tiles */

my-side-tiles {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

my-side-tiles .tile {
    height: 62px;
    margin-bottom: 3px;
    width: 62px;
}

my-side-tiles .tile:hover {
    background-color: red;
}


/* Resource Card */

.my-resource-card {
    border: 1px solid grey;
}

my-resource-card:nth-child(1) > div {
    margin-top: 0;
}

.my-resource-card .logo {
    text-align: center;
}

.my-resource-card .logo a {
    display: block;
    height: 100%;
    position: relative;
}

.my-resource-card .logo a img {
    left: 50%;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.my-resource-card .resource-content {
    padding-bottom: 35px;
    position: relative;
}

.my-resource-card .resource-content a,
.subject-link,
.letter a,
.facet li a {
    color: black;
    text-decoration: none;
}

.my-resource-card .resource-content .status,
.my-resource-card .resource-content .read-more {
    color: red;
    font-style: italic;
}

.my-resource-card .resource-content .title {
    font-weight: bold;
}

.my-resource-card .resource-content .read-more {
    bottom: 0;
    position: absolute;
}

.my-resource-card .resource-content .access-restricted {
    padding-left: 20px;
    position: relative;
}

.my-resource-card .resource-content .access-restricted img {
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}