<div id="header-inmedia_1">
    <div id="logo-tools" layout="row">
        <div class="logo_scpo" flex="15" flex-sm="65">
            <a title="{{'HEADER_SCIENCESPO_TITLE' | translate}}" href="{{'HEADER_SCIENCESPO_LINK' | translate}}" target="_blank" class="no-border">
                <img src="http://sciencespo.fr/bibliotheque/sites/sciencespo.fr.bibliotheque/files/logo_interfaces_bibliotheque.png" alt="{{'HEADER_SCIENCESPO_TITLE' | translate}}">
            </a>
        </div>
        <nav class="navbar navbar-default no-border" flex="60" flex-sm="35">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#cata_ent" aria-expanded="false" hide-gt-sm>
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div id="cata_ent" class="collapse navbar-collapse" hide-sm hide-xs>
                <ul id="menu_appli" class="a nav-images menu nav navbar-nav">
                    <li class="nav-item-0">
                        <a id="catalog" class="ext no-border" title="{{'HEADER_CATALOG_TITLE' | translate}}" ng-href="http://catalogue.sciencespo.fr/in/faces/homeInBook.xhtml" target="_blank">{{'HEADER_CATALOG' | translate}}</a>
                    </li>
                    <li class="nav-item-1">
                        <a id="recherche-unifiee" class="ext no-border" title="{{'HEADER_ONESEARCH_TITLE' | translate}}" href="{{'HEADER_ONESEARCH_LINK' | translate}}" target="_blank">{{'HEADER_ONESEARCH' | translate}}</a>
                    </li>
                    <!--
                    <li class="nav-item-2 ml">
                        <a id="eresources" href="{{'HEADER_ELECTRONICRESOURCES_LINK' | translate}}" target="_blank" class="no-border">{{'HEADER_ELECTRONICRESOURCES' | translate}}</a>
                    </li>
                    -->
                    <li class="nav-item-3 ml">
                        <a id="revues-lignes" class="ext no-border" title="{{'HEADER_ONLINE_JOURNALS_TITLE' | translate}}" href="{{'HEADER_ONLINE_JOURNALS_LINK' | translate}}" target="_blank">{{'HEADER_ONLINE_JOURNALS' | translate}}</a>
                    </li>
                    <li class="nav-item-4 ml">
                        <a id="spire" class="ext no-border" title="{{'HEADER_SPIRE_TITLE' | translate}}" href="{{'HEADER_SPIRE_LINK' | translate}}" target="_blank">{{'HEADER_SPIRE' | translate}}</a>
                    </li>
                </ul>
                <div id="social">
                    <a title="{{'HEADER_ASK_A_LIBRARIAN_TITLE' | translate}}" href="{{'HEADER_ASK_A_LIBRARIAN_LINK' | translate}}" target="_blank" class="no-border"><img title="{{'HEADER_ASK_A_LIBRARIAN_TITLE' | translate}}" src="http://www.sciencespo.fr/bibliotheque/sites/sciencespo.fr.bibliotheque/files/images/ask-librarian.png" alt="{{'HEADER_ASK_A_LIBRARIAN_LOGO_TITLE' | translate}}" width="30" height="30"></a>
                    <a id="twitter" title="{{'HEADER_TWITTER_TITLE' | translate}}" href="{{'HEADER_TWITTER_LINK' | translate}}" target="_blank" class="no-border">
                        <img title="{{'HEADER_TWITTER' | translate}}" src="http://www.sciencespo.fr/bibliotheque/sites/sciencespo.fr.bibliotheque/files/images/twitter_logo_blue.png" alt="{{'HEADER_TWITTER_LOGO_TITTLE' | translate}}">
                    </a>
                    <a id="facebook" title="{{'HEADER_FACEBOOK_TITLE' | translate}}" href="http://www.facebook.com/sciencespo.library" target="_blank" class="no-border">
                        <img title="{{'HEADER_FACEBOOK_LOGO_TITLE' | translate}}" src="http://www.sciencespo.fr/bibliotheque/sites/sciencespo.fr.bibliotheque/files/images/f_logo.png" alt="{{'HEADER_FACEBOOK_LOGO' | translate}}">
                    </a>
                </div>
            </div>
        </nav>
        <div class="desc-appli" flex="15" flex-sm="100">
            <iframe id="iframe_horaire" title="{{'HEADER_SCHEDULE' | translate}}" ng-src="{{'HEADER_SCHEDULE_LINK' | translate | trusted}}" scrolling="no" width="250" height="70" class="no-border"></iframe>
        </div>
    </div>
</div>
