<div id="header-inmedia_1">
    <div id="logo-tools" layout="row">
        <div class="logo_scpo" flex="15" flex-sm="65">
            <a title="Sciences Po | Library - New window" href="http://www.sciencespo.fr/bibliotheque/en" target="_blank" class="no-border">
                <img src="http://sciencespo.fr/bibliotheque/sites/sciencespo.fr.bibliotheque/files/logo_interfaces_bibliotheque.png" alt="Sciences Po | Library - New window">
            </a>
        </div>
        <nav class="navbar navbar-default no-border" flex="60" flex-sm="35">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#cata_ent" aria-expanded="false" hide-gt-sm>
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div id="cata_ent" class="collapse navbar-collapse" hide-sm hide-xs>
                <ul id="menu_appli" class="a nav-images menu nav navbar-nav">
                    <li class="nav-item-0">
                        <a id="web-corpus" class="ext no-border" title="Web Corpus - New window" ng-href="{{lang}}/{{corpusId}}" target="_self">Web Corpus</a>
                    </li>
                    <li class="nav-item-1">
                        <a id="recherche-unifiee" class="ext no-border" title="One search - New window" href="http://sciencespo.summon.serialssolutions.com/en" target="_blank">One search</a>
                    </li>
                    <li class="nav-item-2 ml">
                        <a id="eresources" href="http://www.sciencespo.fr/bibliotheque/en/search/eresources" target="_blank" class="no-border">Electronic resources</a>
                    </li>
                    <li class="nav-item-3 ml">
                        <a id="revues-lignes" class="ext no-border" title="Online journals - New window" href="http://gl5sm8uv5q.search.serialssolutions.com/?paramdict=en-US" target="_blank">Online journals</a>
                    </li>
                    <li class="nav-item-4 ml">
                        <a id="spire" class="ext no-border" title="Spire - New window" href="http://spire.sciencespo.fr/web/?lang=en" target="_blank">Spire</a>
                    </li>
                </ul>
                <div id="social">
                    <a title="Ask a librarian" href="http://www.sciencespo.fr/bibliotheque/en/services/ask-librarian" target="_blank" class="no-border"><img title="Ask a librarian" src="http://www.sciencespo.fr/bibliotheque/sites/sciencespo.fr.bibliotheque/files/images/ask-librarian.png" alt="Logo Ask a librarian" width="30" height="30"></a>&nbsp;
                    <a id="twitter" title="Join us on twitter - New window" href="https://twitter.com/ScPoBibli" target="_blank" class="no-border">
                        <img title="Join us on twitter" src="http://www.sciencespo.fr/bibliotheque/sites/sciencespo.fr.bibliotheque/files/images/twitter_logo_blue.png" alt="Logo Twitter">
                    </a>&nbsp;
                    <a id="facebook" title="Join us on facebook - New window" href="http://www.facebook.com/sciencespo.library" target="_blank" class="no-border">
                        <img title="Join us on facebook" src="http://www.sciencespo.fr/bibliotheque/sites/sciencespo.fr.bibliotheque/files/images/f_logo.png" alt="Logo Facebook">
                    </a>
                </div>
            </div>
        </nav>
        <div class="desc-appli" flex="15" flex-sm="100">
            <iframe id="iframe_horaire" title="Schedule" src="http://www.sciencespo.fr/bibliotheque/en/search/inmedia" scrolling="no" width="250" height="70" class="no-border"></iframe>
        </div>
    </div>
</div>