<div layout="row" layout-margin class="my-resource-card">
    <div flex="33" class="logo">
        <img ng-src="../../dris_devdoc/Coral/resources/logo/{{resource._source.logo}}" alt="Logo" />
    </div>
    <div class="resource-content">
        <div ng-if="resource._source.status == 'trial'" class="status">
            {{'TRIAL' | translate}}
        </div>
        <div ng-if="resource._source.status == 'new'" class="status">
            {{'NEW' | translate}}
        </div>
        <div class="title">
            {{resourceTitle | limitTo: 50 | uppercase}}
        </div>
        <div>
            {{resourceDescription | limitTo: 150}}
        </div>
        <div class="read-more">
            {{'READ_MORE' | translate}} >
        </div>
    </div>
</div>