<div>
    <div class="tile">
        <a title="Ask a librarian" href="http://www.sciencespo.fr/bibliotheque/fr/services/renseignements" target="_blank">
            <img src="images/besoin-aide62x62.png" class="fill" alt=""/>
        </a>
    </div>
    <div class="tile">
        <a title="Facebook" href="http://www.facebook.com/sciencespo.library" target="_blank">
            <img src="images/facebook-rouge62x62.png" class="fill" />
        </a>
    </div>
    <div class="tile">
        <a title="Twitter" href="https://twitter.com/ScPoBibli" target="_blank">
            <img src="images/twitter-rouge62X62.png" class="fill" />
        </a>
    </div>
</div>