<div>
    <div class="tile">
        <a href="http://www.sciencespo.fr/bibliotheque/fr/a-votre-ecoute/nous-contacter" target="_blank">
            <img src="images/ask_a_librarian 2.png" class="fill" alt=""/>
        </a>
    </div>
    <div class="tile">
        <a href="http://www.sciencespo.fr/bibliotheque/fr/a-votre-ecoute/nous-contacter" target="_blank">
            <img src="images/ask_a_librarian 2.png" class="fill" />
        </a>
    </div>
    <div class="tile">
        <a href="http://www.sciencespo.fr/bibliotheque/fr/a-votre-ecoute/nous-contacter" target="_blank">
            <img src="images/ask_a_librarian 2.png" class="fill" />
        </a>
    </div>
</div>