#
# Mac files
# 
.DS_Store

#
# Bower components folder
#
bower_components

#
# Node modules folder
#
node_modules

#
# Images folder
#
images

#
# Dist folder
#
dist

#
# Fonts folder
#
fonts

#
# Admin folder (Coral Backoffice)
#
admin

#
# Generated CSS file
#
css/app.css