#
# Mac files
# 
.DS_Store

#
# Bower components directory
#
bower_components

#
# Node modules directory
#
node_modules

#
# Images folder
#
images

#
# Dist folder
#
dist

#
# Fonts folder
#
fonts

#
# Generated CSS file
#
css/app.css