<!DOCTYPE html>
<html ng-app="eResources">

<head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>{{'ELECTRONIC_RESOURCES' | translate}}</title>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link href="css/app.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<body class="index" eui-index="'resource'">
    <div layout="column" ng-controller="eresourcesCtrl">
        <div ng-include="'partials/header.html'"></div>
        <div>
            <button ng-click="changeLanguage()">{{languageLabel | translate}}</button>
        </div>
        <div>{{indexVM.results.hits.total}} {{'RESOURCES' | translate}}</div>
        <div>
            <div layout="row" layout-margin>
                <div flex="20">
                    <a href="http://www.sciencespo.fr/bibliotheque/fr/a-votre-ecoute/nous-contacter" target="_blank">
                        <div layout="row">
                            <div flex="30">
                                <img src="./images/tchat.png" layout-fill />
                            </div>
                            <div flex="70">
                                {{'NEED_HELP' | translate}}
                            </div>
                        </div>
                    </a>
                    <div>
                        <a href="http://www.sciencespo.fr/bibliotheque/fr/emprunter/acces-distant-eressources#sous_titre3" target="_blank">
                            {{'USAGE_CONVENTION' | translate}}
                        </a>
                    </div>
                </div>
                <div flex="60">
                    <div layout="column">
                        <div layout="row">
                            <div ng-repeat="letter in alphabet" class="letter">
                                <a href ng-click="filterByLetter();">
                                    {{letter}}
                                </a>
                            </div>
                        </div>
                        <div>
                            <input type="text" eui-query="ejs.MatchQuery('title_fr', querystring).type('phrase_prefix')" ng-model="querystring" eui-enabled="querystring.length" />
                        </div>
                        <div flex>
                            <div layout="row" ng-repeat="doc in indexVM.results.hits.hits" layout-margin>
                                <div flex="15">
                                    <img ng-src="../../dris_devdoc/Coral/resources/logo/{{doc._source.logo}}" alt="Logo" class="fill">
                                </div>
                                <div flex="70">
                                    <div layout="column">
                                        <div>
                                            {{doc._source.title_fr | uppercase | limitTo: 50}}
                                        </div>
                                        <div>
                                            {{doc._source.description_fr | limitTo: 150}}
                                        </div>
                                    </div>
                                </div>
                                <div flex="15">
                                    <div layout="column">
                                        <div>locker</div>
                                    </div>
                                </div>
                            </div>
                            <eui-simple-paging></eui-simple-paging>
                        </div>
                    </div>
                </div>
                <div flex="20">
                    <div>
                        <h3>{{'SUBJECTS' | translate}}</h3>
                        <ul class="nav nav-list" eui-aggregation="ejs.TermsAggregation('subjects').field('subjects').size(5)">
                            <li ng-repeat="bucket in aggResult.buckets">
                                <label eui-filter="ejs.TermsFilter(field, bucket.key)">
                                    <span ng-if="!filter.enabled"><a href="" ng-click="filter.enabled=true">{{bucket.key | translate}} <span class="muted">({{bucket.doc_count}})</span></a>
                                    </span>
                                    <span ng-if="filter.enabled">{{bucket.key | translate}} <a href="" ng-click="filter.enabled=false" class="facet-remove">x</a></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h3>{{'CONTENT_TYPE' | translate}}</h3>
                        <ul class="nav nav-list" eui-aggregation="ejs.TermsAggregation('types').field('types').size(10)">
                            <li ng-repeat="bucket in aggResult.buckets">
                                <label class="checkbox" eui-filter="ejs.TermsFilter(field, bucket.key)">
                                    <input type="checkbox" ng-model="filter.enabled"> {{bucket.key | translate}} ({{bucket.doc_count}})
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h3>{{'ACCESS_TYPE' | translate}}</h3>
                        <ul class="nav nav-list" eui-aggregation="ejs.TermsAggregation('accesstype').field('accesstype').size(10)">
                            <li ng-repeat="bucket in aggResult.buckets">
                                <label class="checkbox" eui-filter="ejs.TermsFilter(field, bucket.key)">
                                    <input type="checkbox" ng-model="filter.enabled">
                                    <img ng-src="images/{{bucket.key | getImageUrl}}" class="icon"/>
                                    {{bucket.key | translate}} ({{bucket.doc_count}})
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="bower_components/elasticsearch/elasticsearch.angular.js"></script>
    <script type="text/javascript" src="bower_components/elastic.js/dist/elastic.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-translate/angular-translate.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-translate-loader-url/angular-translate-loader-url.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script type="text/javascript" src="js/elasticui.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/filters.js"></script>
</body>

</html>