<div layout="column" class="resource">
    <div class="grey-band">
        <a href class="go-back" ng-click="goBack()">
            <md-icon class="black-icon">keyboard_arrow_left</md-icon> {{'BACK_TO_RESULTS' | translate}}
        </a>
    </div>
    <div class="page-content">
        <a href="{{indexVM.results.hits.hits[0]._source.resourceurl}}" target="_blank" layout="row">
            <div flex="25" class="left-column">
            </div>
            <div flex="50">
                <div class="logo">
                    <img ng-src="admin/resources/logo/{{indexVM.results.hits.hits[0]._source.logo}}" alt="Logo" class="fill">
                </div>
                <!-- French title -->
                <div class="title" ng-if="currentLanguage == 'fr' && indexVM.results.hits.hits[0]._source.title_fr">
                    {{indexVM.results.hits.hits[0]._source.title_fr | uppercase}}
                </div>
                <!-- English title -->
                <div class="title" ng-if="currentLanguage == 'en' && indexVM.results.hits.hits[0]._source.title_en">
                    {{indexVM.results.hits.hits[0]._source.title_en | uppercase}}
                </div>
            </div>
            <div flex="25" class="right-column">
                <div ng-if="indexVM.results.hits.hits[0]._source.status == 'trial'" class="status">
                    {{'TRIAL' | translate}}
                </div>
                <div ng-if="indexVM.results.hits.hits[0]._source.status == 'new'" class="status">
                    {{'NEW' | translate}}
                </div>
            </div>
        </a>
        <!-- French description -->
        <div class="description" ng-if="currentLanguage == 'fr' && indexVM.results.hits.hits[0]._source.description_fr">
            {{indexVM.results.hits.hits[0]._source.description_fr}}
            <br />
            <br />
        </div>
        <!-- English description -->
        <div class="description" ng-if="currentLanguage == 'en' && indexVM.results.hits.hits[0]._source.description_en">
            {{indexVM.results.hits.hits[0]._source.description_en}}
            <br />
            <br />
        </div>
        <!-- French general note -->
        <div class="description" ng-if="currentLanguage == 'fr' && indexVM.results.hits.hits[0]._source.notegeneral_fr">
            {{indexVM.results.hits.hits[0]._source.notegeneral_fr}}
            <br />
            <br />
        </div>
        <!-- English general note -->
        <div class="description" ng-if="currentLanguage == 'en' && indexVM.results.hits.hits[0]._source.notegeneral_en">
            {{indexVM.results.hits.hits[0]._source.notegeneral_en}}
            <br />
            <br />
        </div>
        <!-- French access note -->
        <div class="description" ng-if="currentLanguage == 'fr' && indexVM.results.hits.hits[0]._source.noteaccess_fr">
            {{indexVM.results.hits.hits[0]._source.noteaccess_fr}}
        </div>
        <!-- English access note -->
        <div class="description" ng-if="currentLanguage == 'en' && indexVM.results.hits.hits[0]._source.noteaccess_en">
            {{indexVM.results.hits.hits[0]._source.noteaccess_en}}
        </div>
        <div layout="row" class="columns">
            <!-- Languages -->
            <div flex="33">
                <div>
                    image
                </div>
                <div class="subtitle">
                    {{'languages' | translate | uppercase}}
                </div>
                <div class="language" ng-repeat="language in indexVM.results.hits.hits[0]._source.languages">
                    {{language | translate}}
                </div>
            </div>
            <!-- Subjects -->
            <div flex="33">
                <div>
                    image
                </div>
                <div class="subtitle">
                    {{'SUBJECTS' | translate | uppercase}}
                </div>
                <div class="subject" ng-repeat="subject in indexVM.results.hits.hits[0]._source.subjects">
                    {{subject | translate}}
                </div>
            </div>
            <!-- Tutorials -->
            <div flex="33">
                <div>
                    image
                </div>
                <div class="subtitle">
                    {{'Tutorials' | translate | uppercase}}
                </div>
                <div class="tutorial" ng-repeat="(key, value) in indexVM.results.hits.hits[0]._source.tutosrank">
                    <a href="{{indexVM.results.hits.hits[0]._source.tutosurl[key]}}" target="_blank">{{indexVM.results.hits.hits[0]._source.tutosname[key]}}<md-icon>keyboard_arrow_right</md-icon></a>
                </div>
            </div>
        </div>
        <!-- Access -->
        <div ng-if="indexVM.results.hits.hits[0]._source.accesstype != null" class="access">
            <b>{{'ACCESS' | translate}}</b>
            <br />
            <img ng-src="images/{{indexVM.results.hits.hits[0]._source.accesstype | getAccessTypeIcon}}"/>
            {{indexVM.results.hits.hits[0]._source.accesstype | translate}}
            <br />
            <br />
        </div>
        <!-- Accessibility -->
        <div ng-if="indexVM.results.hits.hits[0]._source.accessibility == 1">
            <img ng-src="images/accessibility.png" alt="Accessibility" class="fill">
            <br />
            <br />
        </div>
        <!-- Downtimes / Issues -->
        <div ng-show="downtimes.length > 0">
            <b>{{'DOWNTIME' | translate}}</b>
            <br />
            {{'OUT_OF_ORDER' | translate}} : {{downtimes[0]._source.shortname | translate}} {{'FROM' | translate}} {{downtimes[0]._source.startdate | date : $parent.dateFormat}} {{'TO' | translate}} {{downtimes[0]._source.enddate | date : $parent.dateFormat}}.
            <br />
            <br />
        </div>
        <!-- User limitation -->
        <div ng-if="indexVM.results.hits.hits[0]._source.userlimitid != null">
            {{indexVM.results.hits.hits[0]._source.userlimitid}}
        </div>
        <!-- Update -->
        <div>
            <b>{{'UPDATE' | translate}}</b>
            <br />{{indexVM.results.hits.hits[0]._source.updatedate | date : $parent.dateFormat}}
            <br />
            <br />
        </div>
    </div>
</div>