<div layout="column" class="resources">
    <div class="page-content grey-band" layout="column" layout-gt-sm="row">
        <div class="letter-container">
            <div class="letter" ng-class="{'selected' : selectedLetter == ''}">
                <a href ng-click="removeFilterFromUrl('letter')">
                    {{'ALL' | translate | uppercase}}
                </a>
            </div>
        </div>
        <div ng-repeat="letter in alphabet track by $index" ng-if="$index % 7 == 0" class="letter-container" layout="row">
            <div ng-repeat="i in [$index, $index + 1, $index + 2, $index + 3, $index + 4, $index + 5, $index + 6]" class="letter" ng-class="{'selected' : selectedLetter == alphabet[i]}">
                <a ng-click="addFilterToUrl('letter', alphabet[i]);">
                    {{alphabet[i]}}
                </a>
            </div>
        </div>
    </div>
    <div layout="row" class="page-content">
        <div layout="column" flex="30">
            <div class="facet subjects-facet">
                <h3>{{'SUBJECTS' | translate | uppercase}}</h3>
                <ul class="nav nav-list subjects" eui-aggregation="ejs.TermsAggregation('subjects').field('subjects').size(subjects.size)" layout="column">
                    <li ng-repeat="subject in aggResult.buckets">
                        <label eui-filter="ejs.TermsFilter('subjects', subject.key)">
                            <span ng-class="{'filter-enable' : filter.enabled, 'filter-disable' : !filter.enabled}" ng-click="clickOnFacet('subjects', subject.key, filter.enabled)">
                                <span class="key">{{subject.key | translate}}</span>
                                <span class="muted count">{{subject.doc_count}}</span>
                            </span>
                        </label>
                    </li>
                    <md-button class="more" ng-click="subjectsToogle()" md-no-ink>
                        {{subjects.label}}
                        <md-icon>{{subjects.icon}}</md-icon>
                    </md-button>
                </ul>
            </div>
            <md-divider></md-divider>
            <div class="facet">
                <h3>{{'CONTENT_TYPE' | translate | uppercase}}</h3>
                <div class="nav nav-list types" eui-aggregation="ejs.TermsAggregation('types').field('types').size(types.size)" layout="column">
                    <md-checkbox ng-repeat="type in aggResult.buckets" eui-filter="ejs.TermsFilter('types', type.key)" ng-model="filter.enabled" aria-label="{{type.key | translate}}" ng-click="clickOnFacet('types', type.key, filter.enabled)" md-no-ink>
                        <span class="key">{{type.key | translate}}</span>
                        <span class="muted count">{{type.doc_count}}</span>
                    </md-checkbox>
                    <md-button class="more" ng-click="typesToogle()" md-no-ink>
                        {{types.label}}
                        <md-icon>{{types.icon}}</md-icon>
                    </md-button>
                </div>
            </div>
            <md-divider></md-divider>
            <div class="facet">
                <h3>{{'CAMPUS' | translate | uppercase}}</h3>
                <div class="nav nav-list sites" eui-aggregation="ejs.TermsAggregation('sites').field('sites').size(sites.size)" layout="column">
                    <md-checkbox ng-repeat="site in aggResult.buckets" eui-filter="ejs.TermsFilter('sites', site.key)" ng-model="filter.enabled" aria-label="{{site.key | translate}}" ng-click="clickOnFacet('sites', site.key, filter.enabled)" md-no-ink>
                        <span class="key">{{site.key | translate}}</span>
                        <span class="muted count">{{site.doc_count}}</span>
                    </md-checkbox>
                    <md-button class="more" ng-click="sitesToogle()" md-no-ink>
                        {{sites.label}}
                        <md-icon>{{sites.icon}}</md-icon>
                    </md-button>
                </div>
            </div>
        </div>
        <div flex="70">
            <div class="results-header">
                <div class="count-results">
                    <span class="font-red">
                        {{indexVM.results.hits.total}}
                        <ng-pluralize count="indexVM.results.hits.total" when="{'0': '{{&quot;RESOURCE&quot; | translate | uppercase}}', '1' : '{{&quot;RESOURCE&quot; | translate | uppercase}}', 'other' : '{{&quot;RESOURCES&quot; | translate | uppercase}}'}"></ng-pluralize>
                    </span>
                    <ng-pluralize count="indexVM.results.hits.total" when="{'0': '{{&quot;AVAILABLE&quot; | translate | uppercase}}', '1' : '{{&quot;AVAILABLE&quot; | translate | uppercase}}', 'other' : '{{&quot;AVAILABLES&quot; | translate | uppercase}}'}"></ng-pluralize>
                </div>
                <div class="search-filters">
                    <button mat-button>{{'RESET_FILTERS' | translate}}</button>
                </div>
            </div>
            <my-resource-card ng-repeat="resource in indexVM.results.hits.hits" resource="resource" />
        </div>
    </div>
</div>