<div layout="column" class="resource">
    <div class="grey-band">
        <a href class="go-back" ng-href="{{previousUrl}}">
            <md-icon class="black-icon">keyboard_arrow_left</md-icon> {{'BACK_TO_RESULTS' | translate}}
        </a>
    </div>
    <div class="page-content">
        <!-- Downtimes / Issues -->
        <div ng-if="downtimes.length > 0" class="font-red downtimes" layout="column" layout-gt-sm="row">
            <div class="font-bold" flex="100" flex-gt-sm="20">
                {{'DOWNTIME' | translate}}
            </div>
            <div ng-repeat="downtime in downtimes">
                {{'OUT_OF_ORDER' | translate}} : {{downtime._source.shortname | translate}} {{'FROM' | translate}} {{downtime._source.startdate | date : $parent.dateFormat}} {{'TO' | translate}} {{downtime._source.enddate | date : $parent.dateFormat}}.
                <br/ >
            </div>
        </div>
        <a href="{{indexVM.results.hits.hits[0]._source.resourceurl}}" target="_blank" layout="column" layout-gt-sm="row">
            <div flex="100" flex-offset="0" flex-gt-sm="50" flex-offset-gt-sm="25">
                <div class="logo">
                    <img ng-src="admin/resources/logo/{{indexVM.results.hits.hits[0]._source.logo}}" alt="Logo" class="fill">
                </div>
                <!-- French title -->
                <div class="title" ng-if="currentLanguage == 'fr' && indexVM.results.hits.hits[0]._source.title_fr">
                    {{indexVM.results.hits.hits[0]._source.title_fr | uppercase}}
                </div>
                <!-- English title -->
                <div class="title" ng-if="currentLanguage == 'en' && indexVM.results.hits.hits[0]._source.title_en">
                    {{indexVM.results.hits.hits[0]._source.title_en | uppercase}}
                </div>
            </div>
            <div flex="0" flex-gt-sm="25" class="right-column">
                <div ng-if="indexVM.results.hits.hits[0]._source.status == 'trial'" class="status font-red">
                    {{'TRIAL' | translate}}
                </div>
                <div ng-if="indexVM.results.hits.hits[0]._source.status == 'new'" class="status font-red">
                    {{'NEW' | translate}}
                </div>
            </div>
        </a>
        <!-- French description -->
        <div class="description" ng-if="currentLanguage == 'fr' && indexVM.results.hits.hits[0]._source.description_fr">
            {{indexVM.results.hits.hits[0]._source.description_fr}}
        </div>
        <!-- English description -->
        <div class="description" ng-if="currentLanguage == 'en' && indexVM.results.hits.hits[0]._source.description_en">
            {{indexVM.results.hits.hits[0]._source.description_en}}
        </div>
        <!-- French general note -->
        <div class="description" ng-if="currentLanguage == 'fr' && indexVM.results.hits.hits[0]._source.notegeneral_fr">
            {{indexVM.results.hits.hits[0]._source.notegeneral_fr}}
        </div>
        <!-- English general note -->
        <div class="description" ng-if="currentLanguage == 'en' && indexVM.results.hits.hits[0]._source.notegeneral_en">
            {{indexVM.results.hits.hits[0]._source.notegeneral_en}}
        </div>
        <!-- French access note -->
        <div class="description" ng-if="currentLanguage == 'fr' && indexVM.results.hits.hits[0]._source.noteaccess_fr">
            {{indexVM.results.hits.hits[0]._source.noteaccess_fr}}
        </div>
        <!-- English access note -->
        <div class="description" ng-if="currentLanguage == 'en' && indexVM.results.hits.hits[0]._source.noteaccess_en">
            {{indexVM.results.hits.hits[0]._source.noteaccess_en}}
        </div>
        <div layout="column" layout-gt-sm="row" class="columns">
            <!-- Languages -->
            <div flex="33">
                <div>
                    <img ng-src="images/languages.png" alt="{{'languages' | translate}}" class="fill">
                </div>
                <div class="subtitle">
                    {{'languages' | translate | uppercase}}
                </div>
                <div class="language" ng-repeat="language in indexVM.results.hits.hits[0]._source.languages">
                    {{language | translate}}
                </div>
            </div>
            <!-- Subjects -->
            <div flex="33" ng-if="indexVM.results.hits.hits[0]._source.subjects.length > 0">
                <div>
                    <img ng-src="images/subjects.png" alt="{{'SUBJECTS' | translate}}" class="fill">
                </div>
                <div class="subtitle">
                    {{'SUBJECTS' | translate | uppercase}}
                </div>
                <div class="subject" ng-repeat="subject in indexVM.results.hits.hits[0]._source.subjects">
                    {{subject | translate}}
                </div>
            </div>
            <!-- Tutorials -->
            <div flex="33" ng-if="indexVM.results.hits.hits[0]._source.tutosrank.length > 0">
                <div>
                    <img ng-src="images/tutos.png" alt="{{'Tutorials' | translate}}" class="fill">
                </div>
                <div class="subtitle">
                    {{'Tutorials' | translate | uppercase}}
                </div>
                <div class="tutorial" ng-repeat="tuto in tutos | orderBy:'rank'">
                    <a href="{{tuto.url}}" target="_blank">{{tuto.name}}<md-icon>keyboard_arrow_right</md-icon></a>
                </div>
            </div>
        </div>
        <!-- Access -->
        <div ng-if="indexVM.results.hits.hits[0]._source.accesstype != null" class="access">
            <b>{{'ACCESS' | translate}}</b>
            <br />
            <img ng-src="images/{{indexVM.results.hits.hits[0]._source.accesstype | getAccessTypeIcon}}"/>
            {{indexVM.results.hits.hits[0]._source.accesstype | translate}}
            <br />
            <br />
        </div>
        <!-- Accessibility -->
        <div ng-if="indexVM.results.hits.hits[0]._source.accessibility == 1">
            <img ng-src="images/accessibility.png" alt="Accessibility" class="icon-lg">
            <br />
            <br />
        </div>
        <!-- User limitation -->
        <div ng-if="indexVM.results.hits.hits[0]._source.userlimit != null">
            <b>{{'simultaneous users limit' | translate}}</b>
            <br />
            {{indexVM.results.hits.hits[0]._source.userlimit}}
            <br />
            <br />
        </div>
        <!-- Update -->
        <div>
            <b>{{'UPDATE' | translate}}</b>
            <br />
            <span ng-if="indexVM.results.hits.hits[0]._source.updatedate">{{indexVM.results.hits.hits[0]._source.updatedate | date : $parent.dateFormat}}</span>
            <span ng-if="!indexVM.results.hits.hits[0]._source.updatedate">{{indexVM.results.hits.hits[0]._source.createdate | date : $parent.dateFormat}}</span>
            <br />
            <br />
        </div>
    </div>
</div>
