<md-tabs md-selected="selectedTab" md-dynamic-height md-center-tabs>
    <md-tab label="{{'TAB_HOME' | translate}}">
        <div layout="row" layout-margin>
            <div flex="70">
                <div ng-if="highlighted.length > 0">
                    <div>{{'MOST_USED' | translate}}</div>
                    <my-resource-highlighted ng-repeat="resource in highlighted" resource="resource" />
                </div>
                <div ng-if="trial.length > 0">
                    <div>{{'TRIAL' | translate}}</div>
                    <my-resource-card ng-repeat="resource in trial" resource="resource" />
                </div>
                <div ng-if="new.length > 0">
                    <div>{{'NEW' | translate}}</div>
                    <my-resource-card ng-repeat="resource in new" resource="resource" />
                </div>
            </div>
            <div layout="column" flex="30">
                <div>
                    <img src="images/image_01.jpg">
                </div>
                <div class="copyright">© M. Nascimento / Sciences Po</div>
                <div>
                    <a href="http://www.sciencespo.fr/bibliotheque/fr/emprunter/acces-distant-eressources#sous_titre3" target="_blank">{{'USAGE_CONVENTION' | translate}}</a>
                </div>
                <div>
                    <a href="http://www.sciencespo.fr/bibliotheque/fr/emprunter/acces-distant-eressources#sous_titre3" target="_blank">{{'CGU' | translate}}</a>
                </div>
            </div>
        </div>
    </md-tab>
    <md-tab label="{{'TAB_SUBJECTS' | translate}}">
        <div layout="row" layout-margin>
            <div flex="70">
                <div>
                    <div ng-repeat="subject in subjects.facets">
                        <a href="#/?subjects={{subject.key | rewriteUrl}}">
                            <span ng-bind-html="subject.key | translate"></span> ({{subject.doc_count}})
                        </a>
                    </div>
                </div>
            </div>
            <div layout="column" flex="30">
                <div>
                    <img src="images/image_01.jpg">
                </div>
                <div class="copyright">© M. Nascimento / Sciences Po</div>
                <div>
                    <a href="http://www.sciencespo.fr/bibliotheque/fr/emprunter/acces-distant-eressources#sous_titre3" target="_blank">{{'USAGE_CONVENTION' | translate}}</a>
                </div>
                <div>
                    <a href="http://www.sciencespo.fr/bibliotheque/fr/emprunter/acces-distant-eressources#sous_titre3" target="_blank">{{'CGU' | translate}}</a>
                </div>
            </div>
        </div>
    </md-tab>
    <md-tab label="{{'TAB_ALL' | translate}}">
        <div layout="row" layout-margin>
            <div flex="70">
                <div layout="row">
                    <div class="letter">
                        <a href ng-click="removeFilterFromUrl('letter');">
                            {{'ALL' | translate}}
                        </a>
                    </div>
                    <div ng-repeat="letter in alphabet" class="letter">
                        <a href ng-click="addFilterToUrl('letter', letter);">
                            {{letter}}
                        </a>
                    </div>
                    <div>
                        {{indexVM.results.hits.total}}
                        <ng-pluralize count="indexVM.results.hits.total" when="{'0': '{{&quot;RESOURCE&quot; | translate}}', '1' : '{{&quot;RESOURCE&quot; | translate}}', 'other' : '{{&quot;RESOURCES&quot; | translate}}'}"></ng-pluralize>
                    </div>
                </div>
                <div>
                    <my-resource-card ng-repeat="resource in indexVM.results.hits.hits" resource="resource" />
                </div>
            </div>
            <div layout="column" flex="30">
                <div>
                    <img src="images/image_01.jpg">
                </div>
                <div class="copyright">© M. Nascimento / Sciences Po</div>
                <div>
                    <h3>{{'SUBJECTS' | translate}}</h3>
                    <ul class="nav nav-list subjects" eui-aggregation="ejs.TermsAggregation('subjects').field('subjects').size(subjects.size)" layout="column">
                        <li ng-repeat="bucket in aggResult.buckets">
                            <label eui-filter="ejs.TermsFilter('subjects', bucket.key)">
                                <span ng-if="!filter.enabled">
                                    <a href ng-click="filter.enabled=true">
                                        {{bucket.key | translate}} <span class="muted">({{bucket.doc_count}})</span>
                                </a>
                                </span>
                                <span ng-if="filter.enabled">{{bucket.key | translate}} <a href ng-click="filter.enabled=false" class="facet-remove">x</a></span>
                            </label>
                        </li>
                        <md-button class="more" ng-click="subjectsToogle()">
                            <md-icon>{{subjects.icon}}</md-icon> {{subjects.label}}</md-button>
                    </ul>
                </div>
                <div>
                    <h3>{{'CONTENT_TYPE' | translate}}</h3>
                    <!-- <div class="types" layout="column"> -->
                        <ul class="nav nav-list types" eui-aggregation="ejs.TermsAggregation('types').field('types').size(types.size)" layout="column">
                            <!-- <md-checkbox ng-repeat="value in types.values" ng-if="$index < types.size" ng-model="value.selected">
                                {{value.key | translate}} <span class="muted">({{value.doc_count}})</span>
                            </md-checkbox> -->
                            <md-checkbox ng-repeat="bucket in aggResult.buckets" ng-if="$index < types.size" ng-model="value.selected">
                                {{bucket.key | translate}} <span class="muted">({{bucket.doc_count}})</span>
                            </md-checkbox>
                            <!-- <li ng-repeat="bucket in aggResult.buckets">
                                <label class="checkbox" eui-filter="ejs.TermsFilter('types', bucket.key)">
                                    <input type="checkbox" ng-model="filter.enabled"> {{bucket.key | translate}} ({{bucket.doc_count}})
                                </label>
                            </li> -->
                            <md-button class="more" ng-click="typesToogle()"><md-icon>{{types.icon}}</md-icon> {{types.label}}</md-button>
                        </ul>
                    <!-- </div> -->
                </div>
                <div>
                    <h3>{{'CAMPUS' | translate}}</h3>
                    <div class="sites" layout="column">
                        <!-- <ul class="nav nav-list sites" eui-aggregation="ejs.TermsAggregation('sites').field('sites').size(sites.size)" layout="column"> -->
                        <md-checkbox ng-repeat="value in sites.values" ng-if="$index < sites.size" ng-model="value.selected">
                            {{value.key | translate}} <span class="muted">({{value.doc_count}})</span>
                        </md-checkbox>
                        <md-button class="more" ng-click="sitesToogle()">
                            <md-icon>{{sites.icon}}</md-icon> {{sites.label}}</md-button>
                        <!--
                        <div ng-show="sites.show" layout="column">
                            <md-checkbox ng-repeat="value in sites.values" ng-if="$index >= 5">
                                {{value.key | translate}} <span class="muted">({{value.doc_count}})</span>
                            </md-checkbox>
                        </div>
                        -->
                        <!--
                        <li ng-repeat="bucket in aggResult.buckets">
                            <label class="checkbox" eui-filter="ejs.TermsFilter('sites', bucket.key)">
                                <input type="checkbox" ng-model="filter.enabled"> {{bucket.key | translate}} ({{bucket.doc_count}})
                            </label>
                        </li>
                        <md-button class="more" ng-click="sitesToogle()"><md-icon>{{sites.icon}}</md-icon> {{sites.label}}</md-button>
                        -->
                        <!-- </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </md-tab>
</md-tabs>