<div layout="column" class="welcome">
    <div ng-if="highlighted.length > 0" class="page-content highlighted-resources">
        <div layout="row">
            <div flex="20" class="most-used">
                {{'MOST_USED' | translate | uppercase}}
            </div>
            <div class="separator">/</div>
            <div ng-repeat="resource in highlighted track by $index" flex="25" ng-if="$index %2 == 0" class="resource">
                <div ng-repeat="i in [$index, $index + 1]">
                    <a href="{{highlighted[i]._source.resourceurl}}" target="_blank" ng-if="highlighted[i]">
                        {{highlighted[i]._source.title_fr}} >
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div ng-if="trial.length > 0">
            <my-resource-card ng-repeat="resource in trial" resource="resource" />
        </div>
        <div ng-if="new.length > 0">
            <my-resource-card ng-repeat="resource in new" resource="resource" />
        </div>
    </div>
</div>